<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.util.yongheshen.myutil">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HttpActivity">

        </activity>
        <activity android:name=".SplashAct"/>
        <activity android:name=".EncrypDecrypActivity">

        </activity>
        <activity android:name=".AnimationAct">

        </activity>
        <activity android:name=".recyclerview.MyRecyclerView">

        </activity>
        <activity android:name=".provider.ProviderAct">

        </activity>
        <activity android:name=".annotation.AnnotationAct">

        </activity>
        <activity android:name=".mvp.ui.MVPAct" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.util.yongheshen.myutil.provider"
            android:name=".provider.MyProvicer"
            android:exported="true"/>
    </application>

</manifest>
